<br>
<br>
Posts that have tag <%= @tag %>
<br>


<%@bubbles.each do |bubble| %>
        <br>
     
        <div><%= link_to bubble.title, bubble %></div>
        
         
        <div>
          <%= link_to bubble.tag, find_path(:tag => bubble.tag) %> | 
          <% if current_user == bubble.user %>
          Posted by <%= link_to 'you', current_user %> |
          <% else %>
          Posted by <%= link_to bubble.user.name, bubble.user %> |
          <% end %>
          <%= link_to bubble.comments.count, bubble %><%= link_to ' Comments', bubble %> | 
          <%= bubble.time_ago_in_words(bubble.created_at) %> ago  
          <br>
       </div>

        <% if current_user == bubble.user %> 
        <div><%= link_to 'Edit', edit_bubble_path(bubble) %> | <%= link_to 'Delete', bubble, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        <% end %>

      
    <% end %>