
<%= div_for(comment) do |f| %>
   <div class="voting_container_show">

  <div class="arrow"><%= link_to content_tag(:i,nil, :class=>"fa fa-chevron-up"), upvotecomment_path(:id => comment.id) %></div>

  <div class="votes"><%= comment.vote_count %></div>

  <div class="arrow"><%= link_to link_to content_tag(:i,nil, :class=>"fa fa-chevron-down"), downvotecomment_path(:id => comment.id) %></div>
</div>  

<div class="comments"><%= comment.body %></div>

  


 


<div class="meta_data_row_show" id="comment_left_indent">
	<% if current_user == @bubble.user %>
          Commented by <%= link_to 'you', current_user %> | <%= comment.time_ago_in_words(comment.created_at) %> ago
  <% else %>
  Commented by <%= link_to @bubble.user.name, @bubble.user %> | <%= comment.time_ago_in_words(comment.created_at) %> ago


  <% end %> 

  | <%= comment.score %>

 </div> 
  <div class="dashed_line"></div>
<% end %>

