

<% if current_user %>
  <%= link_to 'Create a new post', new_bubble_path %> 
  <br>
<% end %>


    <% @bubbles.each do |bubble| %>
        <br>
     
        <div><%= link_to bubble.title, bubble %></div>
        
        <% if current_user == bubble.user %> 
          <div><%= bubble.tag%> | Posted by <%= link_to 'you', current_user %> | <%= link_to bubble.comments.count, bubble %><%= link_to ' Comments', bubble %> | <%= bubble.time_ago_in_words(bubble.created_at) %>
             
  <br></div>

          
          <% else %>
            <div>Posted by <%= link_to bubble.user.name, bubble.user %> | <%= link_to bubble.comments.count, bubble %><%= link_to ' Comments', bubble %> | <%= bubble.time_ago_in_words(bubble.created_at) %></div>
        <% end %>
      
        <% if current_user == bubble.user %> 
        <div><%= link_to 'Edit', edit_bubble_path(bubble) %> | <%= link_to 'Delete', bubble, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        <% end %>

      
    <% end %>


<br>

