<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bubble.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @bubble.body %>
</p>
<% if current_user.id == @bubble.user_id %>
	<%= link_to 'Edit', edit_bubble_path(@bubble) %>  |
<% end %>

<br><br>
<%= @bubble.comments.count %> Comments

<div id="comments">
  <%= render :partial => @bubble.comments %>
</div>

<%= form_for [@bubble, Comment.new] do |f| %>
  <div class="field">
    <%= f.text_area :body %>
  </div>
  <br>
  <%= f.submit "Add Comment" %>
<% end %>
