<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bubble.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @bubble.body %>
</p>
<% if current_user.id == @bubble.user_id %>
	<%= link_to 'Edit', edit_bubble_path(@bubble) %>  |
<% end %>
<%= link_to 'Back', bubbles_path %>
