<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bubble.title %>
</p>

<%= link_to "upvote", upvote_path(:id => @bubble.id) %>
<%= @bubble.vote_count %>
<%= link_to "downvote", downvote_path(:id => @bubble.id) %>


<%= link_to @bubble.tag, find_path(:tag => @bubble.tag) %> | 
          <% if current_user == @bubble.user %>
          Posted by <%= link_to 'you', current_user %> |
          <% else %>
          Posted by <%= link_to @bubble.user.name, @bubble.user %> |
          <% end %>
          <%= link_to @bubble.comments.count, @bubble %><%= link_to ' Comments', @bubble %> | 
          <%= @bubble.time_ago_in_words(@bubble.created_at) %> ago |
          modified <%= @bubble.time_ago_in_words(@bubble.updated_at) %> ago | 
        
          <%= @bubble.score %> 


<p>
  <strong>Body:</strong>
  <%= @bubble.body %>
</p>
<% if current_user == @bubble.user %>
	<%= link_to 'Edit', edit_bubble_path(@bubble) %> | <%= link_to 'Delete', @bubble, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<br><br>
<%= @bubble.comments.count %> Comments

<div id="comments">
  <%= render :partial => @bubble.comments.sort_by!(&:score).reverse
 %>
</div>

<% if current_user %>
  <%= form_for [@bubble, Comment.new] do |f| %>
    <div class="field">
      <%= f.text_area :body, :placeholder => "Add your comment here"  %>
    </div>
    <%= f.submit "Add Comment" %>
  <% end %>
<% end %>