<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bubble.title %>
</p>

<p>Posted <%= @bubble.time_ago_in_words(@bubble.created_at)%> ago.</p>

<p>
  <strong>Tag:</strong>
  <%= @bubble.tag %>
</p>

<p>
  <strong>Body:</strong>
  <%= @bubble.body %>
</p>
<% if current_user == @bubble.user %>
	<%= link_to 'Edit', edit_bubble_path(@bubble) %> | <%= link_to 'Delete', @bubble, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<br><br>
<%= @bubble.comments.count %> Comments

<div id="comments">
  <%= render :partial => @bubble.comments %>
</div>

<%= form_for [@bubble, Comment.new] do |f| %>
  <div class="field">
    <%= f.text_area :body, :placeholder => "Add your comment here"  %>
  </div>
  <%= f.submit "Add Comment" %>
<% end %>
