<!DOCTYPE html>
<html>
<head>
  <title>ClassIndex</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<span><strong><%= link_to 'class#index', bubbles_path  %></strong></span>
	

	<% if current_user %>
			<span> | <%= link_to current_user.name, current_user %> | </span>
			<span><%= link_to "Logout", sessions_path, method: :delete %></span>

		<% else %>
			<%= link_to "Login", new_sessions_path%>
			<%= link_to "Sign up", new_user_path %>
			<br>
	<% end %>

<%= yield %>

</body>
</html>
